<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="TameenkConfig" type="Tameenk.Core.Configuration.TameenkConfig, Tameenk.Core" requirePermission="false" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<throttlePolicy limitPerSecond="1" limitPerMinute="10" limitPerHour="30" limitPerDay="300" limitPerWeek="1500"
					ipThrottling="true" clientThrottling="true" endpointThrottling="true" stackBlockedRequests="true">
	</throttlePolicy>
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="true" />
		<add key="owin:AppStartup" value="Tameenk.Services.Checkout.Api.Startup, Tameenk.Services.Checkout.Api" />
	</appSettings>
	<connectionStrings>
		<add name="TameenkLog" connectionString="data source=WIN-F4A9H1E4344\Motors;initial catalog=TameenkLog_Test;User ID=bcareTest;Password=J@2Ir@h-DB04;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="TameenkLogLive" connectionString="data source=WIN-F4A9H1E4344\Motors;initial catalog=TameenkLog_Test;User ID=bcareTest;Password=J@2Ir@h-DB04;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="AdminIdentityContext" connectionString="Data Source=WIN-F4A9H1E4344\Motors;Initial Catalog=TameenkIdentity_Test;user id=bcareTest;password=J@2Ir@h-DB04;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Firebase" connectionString="data source=WIN-F4A9H1E4344\Motors;initial catalog=Tameenk_Test;user id=bcareTest;password=J@2Ir@h-DB04;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<TameenkConfig>
		<HttpClient UseResillientHttpClient="false" ExceptionsAllowedBeforeBreaking="5" RetryCount="10" />s
		<!--<Policy GenerationUrl="http://localhost:7014/" TestMode="false" />
    <SMTP Port="587" Host="smtp.gmail.com" EnableSsl="true" Timeout="10000" UseDefaultCredentials="false" SenderEmailAddress="noreply@bcare.com.sa"></SMTP>-->
		<Settings Path="..\..\..\Settings\Settings.txt" LogConfigPath="..\..\..\Settings\log4net.xml"></Settings>
	</TameenkConfig>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
		<globalization culture="ar-EG" uiCulture="ar-EG" />
		<sessionState mode="InProc" cookieless="false" timeout="20" sessionIDManagerType="" />
		<machineKey validationKey="C712B10841AA39CA7A3588ABF185E4565EBA4B89227AF747E4AB557CAF6DD126C74C4594384D1D11A54777289AE2F49292924C4CDEDCBDCEA0BC119F1E5D7A1D" decryptionKey="E1B289CA1B9E8AB590C23E159FFE472DCFBF5B89D09C3D84" validation="SHA1" decryption="AES" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.2.0" newVersion="5.3.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IIntegration" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
				</binding>
				<binding name="Yakeen4BcareServiceSoapBinding">
					<security mode="Transport" />
				</binding>
				<binding name="TameenkSoap">
					<security mode="Transport" />
				</binding>
				<binding name="Yakeen4BcareServiceSoapBinding1" />
				<binding name="TameenakImplPortBinding" />
				<binding name="TameenakImplPortBinding1" />
				<binding name="TameenakImplPortBinding2" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">

					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>

				</binding>
				<binding name="TameenakImplPortBinding3" />
				<binding name="BasicHttpBinding_IBcareTameenk" />

				<binding name="TameenakImplPortBinding5" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>

			</basicHttpBinding>
			<customBinding>
				<binding name="TameenkSoap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
				<binding name="TameenakImplPortBinding">
					<!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://service.tameenak.technoSys.com/':    -->
					<!--    <wsdl:binding name='TameenakImplPortBinding'>    -->
					<!--        <ns1:OptimizedFastInfosetSerialization xmlns:ns1="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service">..</ns1:OptimizedFastInfosetSerialization>    -->
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
			</customBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_INCDService">
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" />
						<message clientCredentialType="UserName" establishSecurityContext="false" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://uateai.wafainsurance.com/BrokerIntegration/Integration.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration" contract="WafaService.IIntegration" name="BasicHttpBinding_IIntegration" />
			<endpoint address="https://yakeen.eserve.com.sa/Yakeen4Bcare/Yakeen4Bcare" binding="basicHttpBinding" bindingConfiguration="Yakeen4BcareServiceSoapBinding" contract="YakeenBCareService.Yakeen4Bcare" name="Yakeen4BcarePort" />
			<endpoint address="https://portalservices1.najm.sa/NCDService/NCDService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INCDService" contract="NajmServices.INCDService" name="WSHttpBinding_INCDService" />
			<endpoint address="http://88.85.249.30:5555/Tameenak-WSUAT/TameenakImplPort" binding="customBinding" bindingConfiguration="TameenakImplPortBinding" contract="TUICService.TameenakImpl" name="TameenakImplPort_TUIC" />
			<endpoint address="http://213.236.57.14:5555/Tameenak-WSUAT/TechnoSys" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding1" contract="SaqrService.TameenakImpl" name="TameenakImplPort1" />
			<endpoint address="https://onlineservices.medgulf.com/medgulftest/root/webservices/tameenk.asmx" binding="customBinding" bindingConfiguration="TameenkSoap12" contract="MedGulfService.TameenkSoap" name="TameenkSoap12" />
			<endpoint address="http://tameeni.der3.com:7035/BcareTameenk.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBcareTameenk" contract="ArabianShieldService.IBcareTameenk" name="BasicHttpBinding_IBcareTameenk" />
			<endpoint address="https://bcarews.ggi-sa.com:7788/Tameenak-WSUAT/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding5" contract="GGIService.TameenakImpl" name="TameenakImplPortBinding5" />
			<endpoint address="http://46.235.92.3:5555/Tameenak-WSUAT/TechnoSys" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding3" contract="AhliaService.TameenakImpl" name="TameenakImplPort3" />
			<endpoint address="http://46.235.95.59:7788/Tameenak-WSUAT/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding" contract="ServiceReference.TameenakImpl" name="TameenakImplPort_GulfUnion" />
		</client>
	</system.serviceModel>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v13.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<nlog>
		<targets>
			<target name="file" type="File" fileName="Logs/${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${logger} - ${message}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="file" />
		</rules>
	</nlog>
</configuration>
<!--ProjectGuid: 9D5A9992-B3A8-48D6-987B-65F0CDCD1F53-->