<?xml version="1.0" encoding="utf-8"?>
<connectionStrings />
<add name="TameenkDbContext" connectionString="Data Source=.\SQL2017;Initial Catalog=Tameenk_Test;user id=TameenkBcare;password=Bc@re!@#;Integrated Security=false;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
</connectionStrings>