<!doctype html>
<html dir='ltr' lang="en">
<style>
    .internalBanners {
        transform: scaleX(-1);
    }

    .internalBanners {
        width: 100%;
        height: 570px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .overLayInternalBnr {
        position: absolute;
        width: 100%;
        top: 200px;
        /*display: flex;*/
        align-items: center;
    }

    .imgStar {
        text-align: center;
    }

    .labelBlock {
        display: block;
        color: #f79818;
        font-size: 24px;
        font-weight: 400;
    }

    .bannerTxt {
        text-align: left;
        padding-left: 100px;
    }

    .imgIntrLogo {
        padding-left: 100px;
        width: 32%;
    }

    .logoLine {
        text-align: left;
        margin-bottom: 40px;
    }

    @@media (min-width: 64em) .md-ver-spc {
        padding: 0px 0 !important;
    }

    strong,
    .txt-bold {
        font-family: "Frutiger", sans-serif;
        color: white;
    }

    .normal-page ul,
    .normal-page ol {
        padding: 0px;
    }

    .normal-page p,
    .normal-page h1,
    .normal-page h3 {
        padding-bottom: 0px;
    }

    .social-icons a.in:before {
        background: none !important;
    }

    .social-icons a.tw:before {
        background: none !important;
    }

    a.fb:before {
        background: none !important;
    }

    .social-icons a.st:before {
        background: none !important;
    }

    .sidebar a {
        padding: 4px 7px 16px 4px !important;
    }

    #mainSideBarNew {
        width: 100% !important;
    }

    .overLayIntersection {
        position: absolute;
        left: 28%;
        /* top: 85%; */
        z-index: 2;
        width: auto;
    }

    .normal-page ul li {
        list-style: disc !important;
    }

    @@media screen and (max-width: 550px) and (min-width: 10px) {
        .labelBlock {
            font-size: 16px;
        }

        .bannerTxt {
            padding-left: 33px;
        }

        .imgIntrLogo {
            display: none;
        }
    }
</style>
<section>
    <div class="internalBanners"
         style=" background-image: url('@(BaseUrl)resources/imgs/newDesign/internalBannr.png');"></div>
    <div class="overLayInternalBnr row">
        <div class="col-lg-12 logoLine">
            <img src="@(BaseUrl)resources/imgs/newDesign/bcareLog.png" class="imgIntrLogo" />
        </div>
        <div style='display:flex; align-items:center;'>
            <div class="col-lg-8 bannerTxt">

                <label class="labelBlock">
                    تقديم خدمة مميزة
                </label>
                <label class="labelBlock">
                    بأسعار تنافسية!
                </label>
                <label class="labelBlock">
                    مدعومة بحماية متكاملة، وعناية عالية
                </label>


            </div>
            <div class="col-lg-4 imgStar">
                <img src="@(BaseUrl)resources/imgs/newDesign/logoStar.png" />
            </div>
        </div>

    </div>
    <div class="overLayIntersection">
        <img src="@(BaseUrl)resources/imgs/newDesign/sunstar.png" style="width: auto;" />
    </div>
</section>

<section class="md-ver-spc search-inputs  section min-height-vh normal-page" style='padding:0px !important;'>
    <div class="col-md-12 bx-right" style=" padding-left: 0px; padding-right: 0px;">
        <div class="wrapper-bx md-mar-bot" style="background: #156494;">
            <div class="row" style="padding: 70px 70px 60px 70px;">
                <h2 style='color: #f79818;
                font-size: 26px;'>
                    عن الشركة
                </h2>
                <h4 style="    color: white;
                font-size: 15px;">
                    As established in 2014, Broker Care strives to add eminent value to Saudi insurance and reinsurance market as its role is not only to offer insurance policy but also to offer wide range of best insurance services, consultations and coverage with competitive costs and high quality that would meet our customers’ needs and abilities through specialized work team.
                </h4>
                <div class="col-lg-6">
                    <div class="col-xs-12 col-md-5 bx-right">
                        <img src="/resources/imgs/ceo1.png" alt="المدير التنفيذي لموقع تأمينك"
                             title="المدير التنفيذي لموقع تأمينك" style="width: 100%;" />
                        <img src="/resources/imgs/yellowLine.png"
                             style="width: 100%;position:absolute;right: 0px;bottom: 88px;" />

                        <p>
                            <strong>Mohammed Al-Besher s<br />  Master In Finance <br /> George Washington University- USA</strong>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-xs-12 col-md-5 bx-right">
                        <img src="/resources/imgs/ceo2.png" alt="الرئيس التنفيذي لشركة تأمينك"
                             title="الرئيس التنفيذي لشركة تأمينك" style="width: 100%;" />
                        <img src="/resources/imgs/yellowLine.png"
                             style="width: 100%;position:absolute;right: 0px;bottom: 88px;" />

                        <p>
                            <strong>Khaled Mohammed Almutlaq <br />  MPA, ACII, DLHI <br />  MPA, ACII, DLHI</strong>
                        </p>
                    </div>
                </div>
                <!-- <h2>رسالة رئيس مجلس الإدارة</h2>
                <div class="col-xs-12 col-md-4 bx-right">
                    <img src="/resources/imgs/CEO.jpg" alt="المدير التنفيذي لموقع تأمينك" title="المدير التنفيذي لموقع تأمينك" style="width: 100%;" />
                </div>
                <p>
                    للبدء في رحلة النجاح وتحقيق التطلعات التي نسعى لتحقيقها في عملنا، نحتاج إلى أن نضع رؤية واضحة لمستقبل شركة "عناية الوسيط"، نحو ريادة محلية وإقليمية في خدمات وساطة التأمين وإعادة التأمين عبر مجموعة متنوعة من الأنشطة الت ي تقوم على أسس صلبة تطبق أحدث النظم الإدارية في إدارة وساطة التأمين، متطلعين إلى التوسع بكافة المستويات نظاما وإدارة وانتشاراً لتقديم خدمة مميزة مدعومة بحماية متكاملة لعملاء الشركة وعناية عالية بهم في سوق التأمين، والمساهمة في تعزيز الوعي التأميني في أوساط العملاء، حتى نصبح شركة رائدة في مجال وساطة التأمين وإعادة التأمين في المملكة واضعين نصب أعيننا قيم وم بادئ الشركة، وتحقيق النجاح في أعمالنا من خلال رضا عملاءنا وتلبية تطلعاتهم واحتياجاتهم. يُعدّ وسيط التأمين عنصراً مهماً في سوق التأمين، ومسؤولاً عن نقل المخاطر من العميل إلى شركة التأمين بشكل دقيق ووافٍ، مما يحافظ على سلامة السوق ويضمن للعملاء حصولهم على التغطية الكافية لممارسة أعمالهم بكل أمان. فالكفاءة والفاعلية هي المقياس في مدى كفاية شركتن ا "عناية الوسيط" بصفتها شركة وساطة تأمين مرخصة للتمكن من تلبية احتياجات السوق.
                </p>
                <p>
                    تخطط "عناية الوسيط" إلى تقديم الخدمات التأمينية بطريقة مبتكرة وفريدة من نوعها، حيث يُقسم السوق إلى فئات مختلفة بهدف تفصيل الخدمة بما يتلاءم مع تطلعات كل شريحة مستهدفة بكل شفافية مع الالتزام التام بالقيم المهنية، ولن تكون قاصرة على النجاح في المدى القصير وإنما ستُبنى على التطور في المدى المتوسط والطويل اعتماداً على تحديد الفرص المتاحة وتوضيحها من خلال التنظيم والمراقبة اللصيقة والمدركة لحاجة العملاء التأمينية. نطمح في "عناية الوسيط" إلى الصعود بخطىً ثابتة في سوق التأمين وإعادة التأمين بالمملكة؛ ساعين إلى أن تكون شركتنا واحدة من شركات الوساطة الرائدة في هذا المجال من خلال علاقاتنا الوطيدة مع شركات التأمين وإعادة التأمين في المملكة وخارجها، بالإضافة إلى وجود فريق عمل ذي خبرة في هذا المجال. ونتعهد بأن نقدم أفضل خدمات التأمين المتخصصة و المصممة على أساس احتياجات عملائنا، داعين الله أن يكلل جهودنا بالتوفيق.
                </p>
                <p>
                    <strong>Mohammed Al-Besher s<br />  Master In Finance <br /> George Washington University- USA</strong>
                </p> -->
            </div>
            <div class="row" style="padding: 0px 70px 60px 70px;">
                <div class="col-lg-6">
                    <h2 style="color: #f79818; font-size: 26px;">رسالة رئيس مجلس الإدارة</h2>
                    <p style="color: white;    line-height: 2;    max-width: 77%;">
                        On the way to success journey in order to achieve our ambitions we strive to get them in reality of our business,
                        we need to develop a clear vision for the future of our company “Broker Care” looking forward to meet local and regional leading position
                        in Insurance and Reinsurance services via diverse group of activities based on robust grounds using most modern management
                        systems to manage insurance brokerage through which we seek improvement at all levels of system,
                        management and expansion to provide unique service supported by integrated protection and high level
                        of care offered to our customers as well as to support insurance awareness among those customers through which our company can become
                        a pioneer company in KSA brokerage market of insurance and reinsurance; taking into account the values and principles of our company
                        besides to successfully achieve our business through our customers satisfaction, and provide customers with total coverage to safely
                        run their businesses.

                        Read More
                    </p>

                </div>
                <div class="col-lg-6">
                    <h2 style="color: #f79818; font-size: 26px;">رسالة الرئيس التنفيذي</h2>
                    <p style="color: white;    line-height: 2;    max-width: 77%;">
                        On the way to success journey in order to achieve our ambitions we strive to get them in reality of our business,
                        we need to develop a clear vision for the future of our company “Broker Care” looking forward to meet local and regional leading position
                        in Insurance and Reinsurance services via diverse group of activities based on robust grounds using most modern management
                        systems to manage insurance brokerage through which we seek improvement at all levels of system,
                        management and expansion to provide unique service supported by integrated protection and high level
                        of care offered to our customers as well as to support insurance awareness among those customers through which our company can become
                        a pioneer company in KSA brokerage market of insurance and reinsurance; taking into account the values and principles of our company
                        besides to successfully achieve our business through our customers satisfaction, and provide customers with total coverage to safely
                        run their businesses.

                        Read More
                    </p>

                </div>
            </div>

        </div>



        <div class="wrapper-bx md-mar-bot" style="background: white;">
            <div class="row" style="padding: 0px 70px 60px 70px;">
                <div class="col-lg-6">
                    <h2 style="color: #156494; font-size: 26px;">رؤية الشركة</h2>
                    <p style="color: #7B7778;    line-height: 2;    max-width: 77%;">
                        ريادة محلية وإقليمية في خدمات وساطة التأمين وإعادة التأمين.
                    </p>

                </div>
                <div class="col-lg-6">
                    <h2 style="color:  #156494; font-size: 26px;">رسالة الشركة</h2>
                    <p style="color: #7B7778;    line-height: 2;    max-width: 77%;">
                        تقديم خدمة مميزة بأسعار ملائمة، وتنافسية، مدعومة بحماية متكاملة، وعناية عالية، لعملاء الشركة.
                    </p>

                </div>
            </div>

            <div class="row" style="padding: 0px 70px 60px 70px;">
                <div class="col-lg-6">
                    <h2 style="color:  #156494; font-size: 26px;">أهداف الشركة</h2>

                    <ul style="color: #7B7778;    line-height: 2;    max-width: 77%;">
                        <li> الحصول على نتائج مقبولة ومربحة من عمليات وساطة التأمين وإعادة </li>
                        <li> التأمين مع ضمان عائد جيد للمساهمين. </li>
                        <li>
                            المساهمة في تحقيق قيمة مضافة لسوق التأمين.
                        </li>
                        <li>
                            تكثيف مَجهودات الشركة لتقديم خدمات تتفق مع احتياجات ورغبات العملاء.
                        </li>
                        <li>
                            زيادة الوعي التأميني للعملاء وحمايتهم من جميع المخاطر التي تحيط بهم.
                        </li>
                    </ul>



                </div>
                <div class="col-lg-6">
                    <h2 style="color: #156494; font-size: 26px;">قِيَم الشركة</h2>
                    <span style="color: #7B7778;    line-height:3;">
                        انطلاقاً من قيّم ديننا الحنيف
                        وثقافتنا الغراء، نؤمن بالقيم الآتية:
                    </span>
                    <ul style="color: #7B7778;    line-height: 2;    max-width: 77%;">
                        <li> أخلاقيات العمل والشفافية: نعمل على ترسيخ أخلاقنا ومبادئنا في جميع</li>
                        <li>
                            أعمالنا المهنية التي نمارسها في إطار من الشفافية والوضوح؛ لتحقيق
                            النزاهة والثقة.
                        </li>
                        <li>
                            الجودة والتميز: تقيس الشركة أداءها من خلال تطبيق مقاييس رفيعة
                            المستوى تحترم الطموحات الكبيرة والسعي إلى التميّز.
                        </li>
                        <li>
                            العمل بروح الفريق: نخصص أعلى الاستثمارات للارتقاء بمواردنا البشرية
                            وتنمية مهارات التعاون والأداء لموظفينا.
                        </li>
                        <li>
                            ارتقاء الأداء والعناية بعملائنا: نسعى بكل إصرار لنتخطى توقعات عملائنا،
                            ونقف بجانبهم في أدق تفاصيل حاجاتهم التأمينية.
                        </li>

                    </ul>



                </div>
            </div>

        </div>

    </div>

</section>
<style>
    blockquote {
        margin: 0 0 18px 0;
        background-color: #f6f6f6;
        color: #287de7;
        font-size: 18px;
        font-size: 1.8rem;
        padding: 14px 30px;
        font-family: 'Roboto Slab', serif;
        line-height: 1.3em;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        position: relative;
    }

        blockquote > p {
            padding-bottom: 0 !important;
        }

    .row > * {
        padding-left: 14px;
        padding-right: 14px;
    }
</style>
