
<section class="inactive md-ver-spc search-info bg-ofwhite content-view over-hidden section active show-search-info">
    <div class="container">
        <h1 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">سياسة الخصوصية</h1>
        <h3 class="txt-black txt-md">تنطبق هذه الشروط والأحكام على استخدامك للموقع الإلكتروني الموجود على موقع تأمينك.</h3>
    </div>
</section>
<section class="md-ver-spc search-inputs  section min-height-vh normal-page">
    <div class="container">
        <div class="wrapper-bx md-mar-bot">
            <div class="row">
                <h4 style="color:#f7811c; padding-bottom: 0px; " class="txt-black txt-lr md-lh txt-right">بيـان التدابير الأمنية الوقائية والخصوصية</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    تلتزم شركة عناية الوسيط بحماية خصوصيتك. ينطبق بيان عناية الوسيط المتعلق بالخصوصية عبر الإنترنت على البيانات

                    التي تجمعها من خلال الدخول على هذه الخدمة المباشرة المقدمة عبر الإنترنت .
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">استخدام معلوماتك الشخصية</h4>
                <hr class="x-hidden-focus">
                <p style="    text-align: justify;">
                    تقوم عناية الوسيط بجمع واستخدام معلوماتك الشخصية لتنفيذ المعاملات التي طلبتها ولتشغيل وتحسين موقعها. وقد تشمل هذه الاستخدامات تزويدك بخدمة العملاء الأكثر فعالية وجعل الخدمات أكثر سهولة للاستخدام بإزالة الحاجة لتكرار إدخال نفس المعلومات وإجراء البحوث والدراسات التي تهدف لتحسين وتطوير منتجاتنا وخدماتنا. كما أننا نستخدم معلوماتك الشخصية للتواصل معك. وقد نرسل لك بعض الرسائل كخطابات الترحيب والتذكير المتعلق بالفواتير والمعلومات ذات الصلة بعقود التأمين الخاصة بك بالإضافة إلى مواد العروض والمنتجات. وربما نرسل لك من حين لآخر استبيانات المنتجات أو الخدمات والرسائل الترويجية البريدية لإعلامك بالمنتجات أو الخدمات الأخرى المتوفرة حالياً لدى عناية الوسيط.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">توزيع معلوماتك الشخصية</h4>
                <hr class="x-hidden-focus">
                <p style="    text-align: justify;">
                    باستثناء ما يوصف في هذا البيان، لن نقوم بكشف أو إفشاء معلوماتك الشخصية إلى شخص آخر بخلاف عناية الوسيط. ويجوز لنا كشف معلوماتك الشخصية إذا كنا نعتقد بأن هذا الإجراء يعتبر ضرورياً من أجل: (أ) التقيد والامتثال بأحكام القانون أو بالإجراءات القانونية؛ (ب) حماية حقوق أو ممتلكات عناية الوسيط والدفاع عنها (بما في ذلك تنفيذ اتفاقياتنا)؛ أو (ج) التصرف في الظروف العاجلة لحماية السلامة الشخصية لعملاء عناية الوسيط أو منسوبيها أو الجمهور.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">الوصول إلى معلوماتك الشخصية</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    يمكنك فحص أو تنقيح معلوماتك الشخصية عبر الإنترنت. وللمساعدة على منع فحص معلوماتك الشخصية أو الإطلاع من قبل أشخاص آخرين، سيطلب منك التوقيع وبيان أوراق اعتمادك
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" ; class="txt-black txt-lr md-lh txt-right">الإجراءات الأمنية الخاصة بمعلوماتك الشخصية</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    تلتزم عناية الوسيط بحماية أمن معلوماتك الشخصية وتستخدم مختلف التقنيات والإجراءات الأمنية لحماية معلوماتك الشخصية ضد الوصول غير المصرح به أو استخدام معلوماتك الشخصية أو كشفها من قبل الآخرين. على سبيل المثال، عندما نرسل معلومات ذات درجة عالية من السرية عبر الإنترنت (كأرقام البطاقات الائتمانية أو كلمات السر) نقوم بحمايتها عن طريق استخدام التشفير، مثل نظام طبقة المقبس الأمني (SSL). وفي حالة استخدام كلمة السر للمساعدة على حماية حساباتك ومعلوماتك الشخصية، فإنه من صميم مسؤولياتك المحافظة على سرية كلمة السر الخاصة بك. وقد يثار هنا السؤال: هل تشرك أي شخص آخر في معرفة هذه المعلومات؟ فإذا كنت تشترك في حاسب آلي مع شخص آخر، فلابد أن تختار تسجيل الخروج قبل مغادرة الموقع أو الخدمة لحماية معلوماتك من الوصول إليها بواسطة المستخدمين اللاحقين.

                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" ; class="txt-black txt-lr md-lh txt-right">ملفات الكوكيز</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    الكوكيز عبارة عن معلومة يتم تخزينها على القرص الصلب بجهاز الكمبيوتر بواسطة جهاز خادم ويب لتحسين وتبسيط خبرة مستخدم أي موقع ويب من خلال تحديد هوية المستخدم إذا قام مسبقًا بالدخول إلى ذلك الموقع. ويتم في العادة استخدام ملفات الكوكيز على الإنترنت ولا يمكن أن تضر جهاز الكمبيوتر الخاص بالمستخدم.
                    ملفات الكوكيز المستخدمة في الموقع لا تشمل أي معلومات يمكن أن يقرأها أو يفهمها آخرون عنك، مثل اسمك أو أي رقم حساب أو رقم وثيقة تأمين. وهي لا تحتوي على أي معلومات شخصية عنك.
                    معظم برامج تصفح الإنترنت تسمح لك بإغلاق وظيفة الكوكيز. وإذا أردت أن تعرف كيفية عمل ذلك، يرجى مراجعة قائمة المساعدة في برنامج التصفح الخاص بك. ومع ذلك، سيقيد هذا الإجراء الخدمات التي يمكنك استخدامها.

                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" ; class="txt-black txt-lr md-lh txt-right">تنفيذ بيان الخصوصية هذا</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    إن كانت لديك أية استفسارات بخصوص هذا البيان، عليك أن تتصل بنا .
                </p>
                <h4 style="color:#f7811c;" ; class="txt-black txt-lr md-lh txt-right">إجراء تغييرات على بيان والخصوصية هذا</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    سنقوم من حين لآخر بتحديث هذا البيان ليعكس التغييرات التي تجرى في خدماتنا واستجابة العملاء. وعندما ننشر تغييرات على هذا البيان، نقوم بتعديل "أخر تحديث" للتاريخ أعلى هذا البيان. ونحثك على مراجعة هذا البيان لتطلع على الكيفية التي تقوم بها عناية الوسيط بحماية معلوماتك.
                </p>
            </div>
        </div>
    </div>
</section>