
<section class="inactive md-ver-spc search-info bg-ofwhite content-view over-hidden section active show-search-info">
    <div class="container">
        <h1 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">Privacy policy</h1>
        <h3 class="txt-black txt-md">These terms and conditions apply to your use of Tameenk service.</h3>
    </div>
</section>
<section class="md-ver-spc search-inputs  section min-height-vh normal-page">
    <div class="container">
        <div class="wrapper-bx md-mar-bot">
            <div class="row">
                <h4 style="color:#f7811c; padding-bottom: 0px; " class="txt-black txt-lr md-lh txt-right">Security and Privacy Statement</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    BCARE is committed to protecting your privacy. BCARE’s Online Privacy Statement applies to data collected by BCARE through this online service access.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px; " class="txt-black txt-lr md-lh txt-right">Use of Your Personal Information</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    more effective customer service; making the services easier to use by eliminating the need for you to repeatedly enter the same information; performing research and analysis aimed at improving our products and services. We also use your personal information to communicate with you. We may send certain communications such as welcome letters, billing reminders, information regarding your insurance contracts, offers and products. We may also occasionally send you product or service surveys and promotional mails to inform you of other products or services available at BCARE.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">Sharing of Your Personal Information</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    Except as described in this statement, we will not disclose your personal information to anyone other than BCARE, its service providers, subsidiaries, and affiliates. We may access and/or disclose your personal information if we believe such action is necessary to: (a) comply with the law or legal process; (b) protect and defend the rights or property of BCARE (including the enforcement of our agreements); or (c) act in urgent circumstances to protect the personal safety of BCARE’s customers or members of the public.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px; " class="txt-black txt-lr md-lh txt-right">Accessing Your Personal Information</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    You may have the ability to view or edit your personal information online. In order to help prevent your personal information from being viewed by others, you will be required to sign in with your credentials.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px; " class="txt-black txt-lr md-lh txt-right">Security of Your Personal Information</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    Through the use of encryption, such as the Secure Socket Layer (SSL) protocol. If a password is used to help protect your accounts and personal information, it is your responsibility to keep your password confidential. Do not share this information with anyone. If you are sharing a computer with anyone you should always choose to logout before leaving a site or service to protect access to your information from subsequent users.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px; " class="txt-black txt-lr md-lh txt-right">Cookies</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    A cookie is a piece of information stored on the hard drive of a computer by a web server to enhance and simplify a website user's experience by identifying a user if he or she has previously accessed that website. Cookies are commonly used on the internet and cannot harm a user's computer system.
                    The cookies used on this site do not include any information that others could read and understand about you such as your name or any account or policy number. They contain no personal information about you.
                    Most internet browsers allow you to turn off the cookie function. If you want to know how to do this please look at the help menu on your browser. However, this will restrict the services you can use.

                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px; " class="txt-black txt-lr md-lh txt-right">Enforcement of This Privacy Statement</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    If you have questions regarding this statement, you should contact us.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;  " class="txt-black txt-lr md-lh txt-right">Changes to This Privacy Statement</h4>
                <hr class="x-hidden-focus">
                <p style="text-align: justify;">
                    We will occasionally update this privacy statement to reflect changes in our services and customer feedback. When we post changes to this Statement, we will revise the "last updated" date at the top of this statement. We encourage you to periodically review this statement to be informed of how BCARE is protecting your information
                </p>
            </div>
        </div>
    </div>
</section>