<section class="inactive md-ver-spc search-info bg-ofwhite content-view over-hidden section active show-search-info">
    <div class="container">
        <h1 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">Terms &amp; conditions</h1>
        <h3 class="txt-black txt-md">These terms and conditions apply to your use of Tameenk service.</h3>
    </div>
</section>
<section class="md-ver-spc search-inputs  section min-height-vh normal-page">
    <div class="container">
        <h3>
            By using Tameenk website, you agree to complying with these terms and conditions. If you do not agree to these terms and conditions, you must not use the website. We reserve our right to change the terms and conditions from time to time. Therefore, you are required to check back periodically. We shall not call you to inform you of any changes made to those terms and conditions. Your continuation to use Tameenk website means that you agree to the terms and conditions applied at the time of your use of the website.
        </h3>
        <div class="wrapper-bx md-mar-bot">
            <div class="row">
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">1) Definitions</h4>
                <hr class="x-hidden-focus">
                <p>
                    "You" and all similar expressions refer to the user of Tameenk website.
                    <br />
                    "We" and all similar expressions mean "Broker Care for Insurance Broker Company".
                    <br />
                    "Tameenk Website" refers to the above defined expression.
                    <br />
                    "User’s information" means the personal details you provide us with via Tameenk website.
                    <br />
                    "Users" means the users of Tameenk website in general as the context refers.
                    <br />
                    "Website" means the website on the world wide web.
                    <br />
                    "Content" means any reviews, feedback, messages, data, information, text, photo, voice, drawing, video, symbol or other materials shown or published on "Tameenk website".
                    <br />
                    "Terms and conditions" means those terms and conditions that might be subject to amendment and change from time to time.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">2) Legitimate Use</h4>
                <hr class="x-hidden-focus">
                <p>
                    2-1) To log in to Tameenk website, you must be at least 18 years old (as per the Gregorian calendar) and must have a full legal capacity.
                    <br />
                    2-2) Any person under 18 years old (as per the Gregorian calendar) and would like to log in to Tameenk website must obtain the approval of his parents or guardian.
                    <br />
                    2-3) You shall acknowledge that you have the right and the legal capacity to use Tameenk website under the terms and conditions set forth herein.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">3) Content Provided by the User</h4>
                <hr class="x-hidden-focus">
                <p>
                    3-1) Client shall undertake to accept using, transferring and sharing its personal and insurance information with insurers and the concerned authorities.
                    <br />
                    3-2) If you have any complaint arising out of any content that has been published, uploaded, aired, distributed, or saved by a user or having it directly published on Tameenk website directly or via the website of a third party, you agree to file the complaint against that user rather than us.
                    <br />
                    3-3) We are not bound, and no item in these terms and conditions binds us in any form, to use any content. Besides that, we, in the event of using the content, are not bound to meet any financial obligations towards you on account of this use.
                    <br />
                    3-4) You shall acknowledge that all entered information is correct and not misleading. In the event of finding otherwise, you shall be fully responsible for that.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">4) Provided Services</h4>
                <hr class="x-hidden-focus">
                <p>
                    4-1) Tameenk website will make available and display the insurance products of the insurer licensed by SAMA.
                    <br />
                    4-2) Tameenk website will display the prices of the insurance products that are available on the website with competitive prices, whereas the user will have the option to choose the desired coverage with the desired price.
                    <br />
                    4-3) Tameenk website will fix a specific period for displaying the insurance coverage, provided that this fixation shall not be less than 24 hours.
                    <br />
                    4-4) Tameenk website is available for use around the clock.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">5) Application Steps</h4>
                <hr class="x-hidden-focus">
                <p>
                    5-1) User shall enter the basic information of the pricing process.
                    <br />
                    5-2) Comparison table, with the additional benefits, will be displayed.
                    <br />
                    5-3) User shall enter the payment information.
                    <br />
                    5-4) User shall choose the payment method.
                    <br />
                    5-5) Policy shall be issued and printed out by the client directly.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">6) Payment Method</h4>
                <hr class="x-hidden-focus">
                <p>
                    6-1) Credit Card (Visa/MasterCard).
                    <br />
                    6-2) SADAD Service.
                    <br />
                    6-3) Installments (provided that purchase is by the credit card via any of the approved banks and with an amount no less than S.A.R. 1000).
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">7) Responsibility</h4>
                <hr class="x-hidden-focus">
                <p>
                    7-1) We seek to provide Tameenk website with all the reasonably required types of care under the rules and regulations of SAMA. We do not promise that the content of Tameenk website, any employments it contains or any of its servers shall work without interruption, delay or error, that they are free from viruses or the programming errors or that they are compatible with any other program or material.
                    <br />
                    7-2) We shall not be held responsible before you or any other person regarding any loss resulting from a matter out of our control. This includes the malfunction of the electronic and mechanical equipment and telecommunication lines (including telephone, cables, and internet), illegal access, harmful codes, theft, operating errors, harsh or abnormal weather conditions (including floods, earthquakes, or other acts of God), fire, war, disobedience, terror acts, riot, labor disputes, other labor differences, accidents, emergencies, delays, excess or canceled bookings, death of a ruler, or any act by the government.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">8) Indemnities</h4>
                <hr class="x-hidden-focus">
                <p>
                    8-1) You shall acknowledge that we are an insurer only and a point of display and it is not our responsibility to compensate any claims or make any compensations on account of the default of any third party (insurers).
                    <br />
                    8-2) You shall acknowledge and agree to compensate us, any authority related to us, our employees, and officers immediately and on request for all the claims, obligations, losses, and costs including the legal fees resulting from any breach or violation to these conditions and terms by you or any other damages resulting from your using Tameenk website.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">9) Termination</h4>
                <hr class="x-hidden-focus">
                <p>
                    We reserve our right to immediately terminate your use of Tameenk website in the event you violate any item of these terms and conditions or if we believe, on reasonable reasons, that you might violate the items of these terms and conditions or if you act in a way we consider, at our sole discretion, unacceptable.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">10) Communication</h4>
                <hr class="x-hidden-focus">
                <p>
                    If you want to give us any comment about Tameenk website or inquire about it, please feel free to contract us on the numbers available on Tameenk website.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">11) Validity of the Website</h4>
                <hr class="x-hidden-focus">
                <p>
                    11-1) As electronic services are prone to disruption or breakdown, access to Tameenk website is available "as it is" currently.
                    <br />
                    11-2) We may, at our sole discretion, impose restrictions and limitations on your use of Tameenk website, and, additionally, we may, for security purposes and technical, maintenance, or legal reasons, or as a result of any violation to these terms and conditions, withdraw Tameenk website or your access to Tameenk website at any time without prior notice from our side.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">12) General</h4>
                <hr class="x-hidden-focus">
                <p>
                    12-1) In the event any court or project decides that any item of these terms and condition is invalid or inapplicable in any way, the same shall be canceled and stricken out and the remaining items   of the terms and conditions shall be fully valid.
                    <br />
                    12-2) Those terms and condition and Tameenk website are subject to rules and regulations of SAMA. Disputes shall be settled by the competent courts or the disputes and insurance violations resolution commissions in the Kingdom of Saudi Arabia.
                </p>
                <h4 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">13) Company’s Profile</h4>
                <hr class="x-hidden-focus">
                <p>
                    Broker Care for Insurance Broker Company holds C.R. No. 1010428697 and SAMA license No. 20152/80/ش/ و س ط, dated 22/04/1436H, to exercise the activity of insurance mediation, headquarters address: Unit No. 2, building No. 2335, P.O. Box 241237 Zip Code 11322, Riyadh, Tel. 920010050, Fax: 0112040028.
                </p>
                <h3>Note: All terms and conditions are compliant with the rules and regulations of <a target="blank" href="http://www.sama.gov.sa">SAMA</a>.</h3>
            </div>
        </div>
    </div>
</section>