<section id="portfolio" class="section portfolio sm-mar">
    <div class="testSSlid"></div>
    <div class="container">
        <div class="row">
            <h1 class="txt-lr txt-brand txt-center dis-block" translate>home.index_our_partners</h1>
            <div class="img-list slider sm-mar partners-slider">
                <div>
                    <img src="/resources/imgs/insurerlogos/Sagr.png" title="AlSagr Insurance" alt="AlSagr Insurance" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/Solidarity.png" title="سوليدرتي للتأمين" alt="سوليدرتي للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/Alalamiya.png" title="العالمية للتأمين" alt="العالمية للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/MedGulf.png" title="ميدغلف للتأمين" alt="ميدغلف للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/GGI.png" title="شركة الخليجية للتأمين" alt="شركة الخليجية للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/ACIG.png" title="أسيج للتأمين" alt="أسيج للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/ArabianShield.png" title="الدرع العربي للتأمين" alt="الدرع العربي للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/Ahlia.png" title="الأهلية للتأمين" alt="الأهلية للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/AICC.png" title="العربية للتأمين" alt="العربية للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/TUIC.png" title="الاتحاد التجاري للتأمين" alt="الاتحاد التجاري للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/Tawuniya.png" title="التعاونية للتأمين" alt="التعاونية للتأمين" />
                </div>
                <!-- <div>
          <img src="/resources/imgs/insurerlogos/Wafa.png" title="وفاء للتأمين" />
    </div> -->
                <div>
                    <img src="/resources/imgs/insurerlogos/Wala.png" title="ولاء للتأمين" alt="ولاء للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/Salama.png" title="سلامة للتأمين" alt="سلامة للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/GulfUnion.png" title="اتحاد الخليج للتأمين التعاوني" alt="اتحاد الخليج للتأمين التعاوني" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/UCA.png" title="المتحدة للتامين التعاوني" alt="المتحدة للتامين التعاوني" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/AlRajhi.png" title="تكافل الراجحي" alt="تكافل الراجحي" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/SAICO.png" title="سايكو للتأمين" alt="سايكو للتأمين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/Malath.png" title="ملاذ" alt="ملاذ" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/TokioMarine.png" title="طوكيو مارين" alt="طوكيو مارين" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/Allianz.png" title="أليانز" alt="أليانز" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/AXA.png" title="أكسا" alt="أكسا" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/Amana.png" title="أمانه" alt="أمانه" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/Wataniya.png" title="الوطنية" alt="الوطنية" />
                </div>
                <div>
                    <img src="/resources/imgs/insurerlogos/buruj.png" title="بروج" alt="بروج" />
                </div>
            </div>
            <div id="arrows">
                <span id="next-comp">
                    <i class="ic-asset-5-1"></i>
                </span>
                <span id="prev-comp" style="margin-top: 5px;">
                    <i class="ic-asset-5-1"></i>
                </span>
            </div>

            <div class="slick-wrapper">
                <div id="slick1">
                    <div>
                        <img src="/resources/imgs/insurerlogos/Solidarity.png" title="سوليدرتي للتأمين" alt="سوليدرتي للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/Alalamiya.png" title="العالمية للتأمين" alt="العالمية للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/MedGulf.png" title="ميدغلف للتأمين" alt="ميدغلف للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/GGI.png" title="شركة الخليجية للتأمين" alt="شركة الخليجية للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/ACIG.png" title="أسيج للتأمين" alt="أسيج للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/ArabianShield.png" title="الدرع العربي للتأمين" alt="الدرع العربي للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/Ahlia.png" title="الأهلية للتأمين" alt="الأهلية للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/AICC.png" title="العربية للتأمين" alt="العربية للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/TUIC.png" title="الاتحاد التجاري للتأمين" alt="الاتحاد التجاري للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/Tawuniya.png" title="التعاونية للتأمين" alt="التعاونية للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/Wala.png" title="ولاء للتأمين" alt="ولاء للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/Salama.png" title="سلامة للتأمين" alt="سلامة للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/GulfUnion.png" title="اتحاد الخليج للتأمين التعاوني" alt="اتحاد الخليج للتأمين التعاوني" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/UCA.png" title="المتحدة للتامين التعاوني" alt="المتحدة للتامين التعاوني" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/AlRajhi.png" title="تكافل الراجحي" alt="تكافل الراجحي" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/SAICO.png" title="سايكو للتأمين" alt="سايكو للتأمين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/Malath.png" title="ملاذ" alt="ملاذ" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/TokioMarine.png" title="طوكيو مارين" alt="طوكيو مارين" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/Allianz.png" title="أليانز" alt="أليانز" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/AXA.png" title="أكسا" alt="أكسا" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/Amana.png" title="أمانه" alt="أمانه" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/Wataniya.png" title="الوطنية" alt="الوطنية" />
                    </div>
                    <div>
                        <img src="/resources/imgs/insurerlogos/buruj.png" title="بروج" alt="بروج" />
                    </div>
                </div>
            </div>

        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>