<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>  
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="TameenkConfig" type="Tameenk.Core.Configuration.TameenkConfig, Tameenk.Core" requirePermission="false" />
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="TameenkLog" connectionString="data source=172.16.46.4;initial catalog=TameenkLog_Live;User ID=bcare;Password=J@2Ir@h-DB03;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <TameenkConfig>
    <!-- Email smtp configuratoin -->
    <SMTP Port="587" Host="smtp.gmail.com" EnableSsl="true" Timeout="10000" UseDefaultCredentials="false" SenderEmailAddress="noreply@bcare.com.sa"></SMTP>

    <!-- Payments - Payfort Test -->
    <!--<PayFort MerchantIdentifier="XuPWWGSn" AccessCode="AYlFMpdYRMFXkEDKmvDi" SHARequestPhrase="SHAREQUESTPHRASE" SHAResponsePharse="SHARESPONSEPHRASE" ReturnUrl="/Checkout/PayfortResult" Currency="SAR"></PayFort>-->

    <!-- Payments - Payfort Production  -->
    <PayFort MerchantIdentifier="rIcKeGlw" AccessCode="UhayyFucUefrF2fdx7eJ" SHARequestPhrase="QSXZSE" SHAResponsePharse="WDCXDR" ReturnUrl="/Checkout/PayfortResult" Currency="SAR"></PayFort>


    <!-- Payment - Sadad Test -->
    <!--<Sadad Url="https://88.85.225.213/soap?service=RB_SADAD_BILL_ONLINE_WS" 
           BillerId="111" ExactFlag="1" 
    KeyRelativePath="~/bin/Services/Payments/Sadad/Key/key_sadad_biller_online_uat.p12" 
    BillslAccountStatus="ACTIVE" 
    KeyPassword="b2b123" SoapEnvelopNameSpace="http://schemas.xmlsoap.org/soap/envelope/">
    </Sadad>-->

    <!-- Payment - Sadad Production -->
    <Sadad Url="https://b2brb.riyadbank.com/soap?service=RB_SADAD_BILL_ONLINE_WS" BillerId="111" ExactFlag="1" KeyRelativePath="~/bin/Services/Payments/Sadad/Key/key_sadad_biller_online_uat.p12" BillslAccountStatus="ACTIVE" KeyPassword="b2b123" SoapEnvelopNameSpace="http://schemas.xmlsoap.org/soap/envelope/">
    </Sadad>


    <!-- >>>> Start RiyadBank MIGS Configuration section <<<< -->

    <!-- Production -->
    <RiyadBank Url="https://migs.mastercard.com.au/vpcpay" MerchantId="2000000061" AccessCode="88E62DEF" SecureHashSecret="403C584F4CF06869CF8241FFB711D95C"></RiyadBank>

    <Hyperpay NotificationURL="https://www.bcare.com.sa/TameenkPayment/PaymentHyperpayResponse" Url="https://oppwa.com/v1/checkouts" UserId="8acda4c76b26bc75016b6f0943d53d82" Password="J4jbjnA9qY" EntityId="8acda4c76b26bc75016b6f097b533d86" PaymentType="DB" Currency="SAR" AccessToken="OGFjZGE0Yzc2YjI2YmM3NTAxNmI2ZjA5NDNkNTNkODJ8SjRqYmpuQTlxWQ==" QueryURL="https://oppwa.com/v1/query?"></Hyperpay>

    <!-- Development -->
    <!--<RiyadBank Url="https://migs.mastercard.com.au/vpcpay" MerchantId="TEST2000000061" AccessCode="2AA30E95" SecureHashSecret="C317D74F7BC5FBD8222A700FC28DA2D9"></RiyadBank>-->

    <!-- >>>> End RiyadBank MIGS Configuration section <<<< -->


    <Quotation Url="https://www.bcare.com.sa/QuotationApi/api/"></Quotation>
    <Policy Url="https://www.bcare.com.sa/PolicyApi/api/" GenerationUrl="https://www.bcare.com.sa/PolicyApi/api/policy/submitPolicyAsync/"></Policy>
    <Inquiry Url="https://www.bcare.com.sa/InquiryApi/api/"></Inquiry>
    <Administration Url="https://www.bcare.com.sa/AdministrationApi/api/"></Administration>
    <GoogleCaptcha Url="https://www.google.com/recaptcha/api/siteverify" Secret="6LfiJHMUAAAAAGb5DCGVjCFiBj8sTFC3zyhuaAGk"></GoogleCaptcha>
    <Settings Path="..\Settings\Settings.txt" LogConfigPath="..\Settings\log4net.xml"></Settings>
    <Identity Url="https://www.bcare.com.sa/IdentityApi/" ClientId="684C02DE-C782-4C7A-9999-70E687D73CD6" ClientSecret="8776677C-CBC9-4CB9-8AD8-A135D49B1C54-8564116E-BE41-4409-B46D-5B35C74F94B9-0FB081CC-2927-4A7C-A9B7-0CF76571107F"></Identity>
    <RemoteServerInfo UseNetworkDownload="false" ServerIP="\\172.16.46.5" DomainName="172.16.46.5" ShareFolderName="" ServerUserName="Administrator" ServerPassword="J@2Ir@h-WEB01"></RemoteServerInfo>
  </TameenkConfig>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="true" />
   <add key="log4net.Internal.Debug" value="true" />
    <add key="PolicyAndInvoiceGeneratorApiUrl" value="https://www.bcare.com.sa/PolicyApi/" />
    <add key="PolicyPDFGeneratorAPIURL" value="http://172.16.46.14/PdfGeneratorServiceApi/" />
    <add key="PayfortReturnUrl" value="/Checkout/PayfortResult" />
    <add key="ShowInsuranceCompanyErrors" value="false" />
    <add key="InfoEmailAddress" value="support-team@bcare.com.sa" />
    <add key="ComprehensiveLowestPrice" value="https://www.bcare.com.sa/QuotationApi/api/quotation/lowest-product" />
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
    <add key="PdfCompaniesFilesBaseFolder" value="E:\PdfCompaniesFiles" />
    <add key="FrontEndServerIP" value="172.16.46.5" />
    <add key="EnableSendCodeViaEmail" value="false" />
    <add key="NoReplayAdminEmail" value="noreplay@bcare.com.sa" />
    <add key="UseMaxCheckoutNumber" value="true" />
    <add key="MaxCheckoutNumber" value="10" />
    <add key="MaxCheckoutNumberDuration" value="365" />
    <add key="CheckoutAdminEmails" value="malmutlaq@bcare.com.sa;alamro@bcare.com.sa;faisal.k@bcare.com.sa" />
    <add key="PhoneMaxCheckoutNumberDuration" value="365" />
    <add key="DisablePhoneMaxCheckoutNumberDuration" value="true" />
    <add key="ServerIP" value="172.16.46.5" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.3.0" newVersion="4.9.3.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>

	    <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
	  
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
    <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
   
  </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.2.0" newVersion="5.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntegration" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="Yakeen4BcareServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="TameenkSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Yakeen4BcareServiceSoapBinding1" />
        <binding name="TameenakImplPort_GulfUnion" />
        <binding name="TameenakImplPortBinding1" />
        <binding name="TameenakImplPortBinding2" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBcareTameenk" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="TameenakImplPortBinding3" />
        <binding name="TameenakImplPortBinding5" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="TameenakImplPortBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="TameenkSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>

      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_INCDService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://uateai.wafainsurance.com/BrokerIntegration/Integration.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration" contract="WafaService.IIntegration" name="BasicHttpBinding_IIntegration" />
      <endpoint address="https://yakeen.eserve.com.sa/Yakeen4Bcare/Yakeen4Bcare" binding="basicHttpBinding" bindingConfiguration="Yakeen4BcareServiceSoapBinding" contract="YakeenBCareService.Yakeen4Bcare" name="Yakeen4BcarePort" />
      <endpoint address="https://portalservices1.najm.sa/NCDService/NCDService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INCDService" contract="NajmServices.INCDService" name="WSHttpBinding_INCDService" />
      <endpoint address="http://88.85.249.30:5555/TameenakWSProd/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding" contract="TUICService.TameenakImpl" name="TameenakImplPort_TUIC" />
      <endpoint address="http://213.236.57.14:5555/TameenakWSProd/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding1" contract="SaqrService.TameenakImpl" name="TameenakImplPort1" />
      <endpoint address="https://onlineservices.medgulf.com.sa/tameenk/webServices/tameenk.asmx" binding="customBinding" bindingConfiguration="TameenkSoap12" contract="MedGulfService.TameenkSoap" name="TameenkSoap12" />
      <endpoint address="https://tameenitp.der3.com:588/BcareTameenk.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBcareTameenk" contract="ArabianShieldService.IBcareTameenk" name="BasicHttpBinding_IBcareTameenk" />
      <endpoint address="https://bcarews.ggi-sa.com:7788/TameenakWSProd/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding5" contract="GGIService.TameenakImpl" name="TameenakImplPortBinding5" />
      <endpoint address="http://46.235.92.5:5555/TameenakWSProd/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding3" contract="AhliaService.TameenakImpl" name="TameenakImplPort3" />
      <endpoint address="http://46.235.95.59:7788/TameenakWSProd/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPort_GulfUnion" contract="ServiceReference.TameenakImpl" name="TameenakImplPort_GulfUnion" />

    </client>
  </system.serviceModel>


  <system.net>
    <mailSettings>
      <smtp from="noreply@bcare.com.sa">
        <network host="smtp.gmail.com" port="587" enableSsl="true" password="asdf1234" userName="noreply@bcare.com.sa" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>

 <log4net debug="true">
    <appender name="LogRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\inetpub\wwwroot\ScheduledTask\logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Debug" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL">
      </level>
      <appender-ref ref="LogRollingLogFileAppender" />
    </root>
  </log4net>

</configuration>
<!--ProjectGuid: B0830B06-0684-47A3-9C8D-9DEB37C284A9-->