<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="TameenkConfig" type="Tameenk.Core.Configuration.TameenkConfig, Tameenk.Core" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle" />
	<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <throttlePolicy limitPerSecond="1" limitPerMinute="10" limitPerHour="30" limitPerDay="300" limitPerWeek="1500" ipThrottling="true" clientThrottling="true" endpointThrottling="true" stackBlockedRequests="true">
  </throttlePolicy>
  <appSettings>
    <add key="YakeenIntegrationApiUrl" value="https://www.bcare.com.sa/YakeenIntegrationApi/" />
    <add key="owin:AppStartup" value="Tameenk.Services.InquiryGateway.Startup, Tameenk.Services.InquiryGateway" />
  </appSettings>
	<connectionStrings>
		<add name="TameenkLog" connectionString="data source=WIN-F4A9H1E4344\Motors;initial catalog=TameenkLog_Test;User ID=bcareTest;Password=J@2Ir@h-DB04;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="TameenkLogLive" connectionString="data source=WIN-F4A9H1E4344\Motors;initial catalog=TameenkLog_Test;User ID=bcareTest;Password=J@2Ir@h-DB04;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="AdminIdentityContext" connectionString="Data Source=WIN-F4A9H1E4344\Motors;Initial Catalog=TameenkIdentity_Test;user id=bcareTest;password=J@2Ir@h-DB04;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="Firebase" connectionString="data source=WIN-F4A9H1E4344\Motors;initial catalog=Tameenk_Test;user id=bcareTest;password=J@2Ir@h-DB04;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <TameenkConfig>
    <HttpClient UseResillientHttpClient="false" ExceptionsAllowedBeforeBreaking="5" RetryCount="10" />
    <Najm TestMode="false" Username="MUBARAK" Password="asdf1234" />
    <SaudiPost Url="https://apina.address.gov.sa/NationalAddress/v3.1/" ApiKey="a2ad46ebf3b642e588d772ea708d6827" TestMode="false" />
    <Identity Url="https://www.bcare.com.sa/IdentityApi/" ClientId="684C02DE-C782-4C7A-9999-70E687D73CD6" ClientSecret="8776677C-CBC9-4CB9-8AD8-A135D49B1C54-8564116E-BE41-4409-B46D-5B35C74F94B9-0FB081CC-2927-4A7C-A9B7-0CF76571107F"></Identity>
    <Settings Path="..\..\..\Settings\Settings.txt" LogConfigPath="..\..\..\Settings\log4net.xml"></Settings>
  </TameenkConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <globalization culture="ar-EG" uiCulture="ar-EG" />
    <sessionState mode="InProc" cookieless="false" timeout="20" sessionIDManagerType="" />
    <machineKey validationKey="C712B10841AA39CA7A3588ABF185E4565EBA4B89227AF747E4AB557CAF6DD126C74C4594384D1D11A54777289AE2F49292924C4CDEDCBDCEA0BC119F1E5D7A1D" decryptionKey="E1B289CA1B9E8AB590C23E159FFE472DCFBF5B89D09C3D84" validation="SHA1" decryption="AES" />
  </system.web>
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.2.0" newVersion="5.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IIntegration" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
				</binding>
				<binding name="Yakeen4BcareServiceSoapBinding">
					<security mode="Transport" />
				</binding>
				<binding name="TameenkSoap">
					<security mode="Transport" />
				</binding>
				<binding name="Yakeen4BcareServiceSoapBinding1" />
				<binding name="TameenakImplPortBinding44" />
				<binding name="TameenakImplPortBinding1" messageEncoding="Mtom" textEncoding="utf-8" />
				<binding name="TameenakImplPortBinding2" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IBcareTameenk" />
				<binding name="TameenakImplPortBinding" />
				<binding name="TameenakImplPortBinding3" />
				<binding name="TameenakImplPortBinding33" messageEncoding="Mtom" textEncoding="utf-8" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" />
				<binding name="TameenakImplPortBinding5" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="TameenkSoap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
				<!--<binding name="TameenakImplPortBinding">
          -->
				<!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://service.tameenak.technoSys.com/':    -->
				<!--
          -->
				<!--    <wsdl:binding name='TameenakImplPortBinding'>    -->
				<!--
          -->
				<!--        <ns1:OptimizedFastInfosetSerialization xmlns:ns1="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service">..</ns1:OptimizedFastInfosetSerialization>    -->
				<!--
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>-->
			</customBinding>
			<wsHttpBinding>
				<binding name="TameenkSoap55">
					<security mode="Transport">
						<transport clientCredentialType="Basic" />
					</security>
				</binding>
				<binding name="WSHttpBinding_INCDService">
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IInsuranceInquiry">
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" />
						<message clientCredentialType="UserName" establishSecurityContext="false" />
					</security>
				</binding>

			</wsHttpBinding>
		</bindings>
		<client>

			<endpoint address="https://tameeniservice.alrajhitakaful.com/ART.NCIS.TameeniK/TameenK.svc" binding="wsHttpBinding" bindingConfiguration="TameenkSoap55" contract="AlRajhi.ITameenK" name="TameenkSoap55" />
			<endpoint address="http://uateai.wafainsurance.com/BrokerIntegration/Integration.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration" contract="WafaService.IIntegration" name="BasicHttpBinding_IIntegration" />
			<endpoint address="https://yakeen.eserve.com.sa/Yakeen4Bcare/Yakeen4Bcare" binding="basicHttpBinding" bindingConfiguration="Yakeen4BcareServiceSoapBinding" contract="YakeenBCareService.Yakeen4Bcare" name="Yakeen4BcarePort" />
			<endpoint address="https://portalservices1.najm.sa/NCDService/NCDService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INCDService" contract="NajmServices.INCDService" name="WSHttpBinding_INCDService" />
			<endpoint address="http://88.85.249.30:5555/Tameenak-WSUAT/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding33" contract="TUICService.TameenakImpl" name="TameenakImplPort_TUIC" />
			<endpoint address="http://213.236.57.14:5555/Tameenak-WSUAT/TechnoSys" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding" contract="SaqrService.TameenakImpl" name="TameenakImplPortBinding" />
			<endpoint address="https://onlinetest.medgulf.com.sa/Tameenk/WebServices/Tameenk.asmx" binding="customBinding" bindingConfiguration="TameenkSoap12" contract="MedGulfService.TameenkSoap" name="TameenkSoap12" />
			<endpoint address="http://tameeni.der3.com:7035/BcareTameenk.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBcareTameenk" contract="ArabianShieldService.IBcareTameenk" name="BasicHttpBinding_IBcareTameenk" />
			<endpoint address="https://bcarews.ggi-sa.com:7788/Tameenak-WSUAT/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding5" contract="GGIService.TameenakImpl" name="TameenakImplPortBinding5" />
			<endpoint address="http://46.235.92.3:5555/Tameenak-WSUAT/TechnoSys" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding3" contract="AhliaService.TameenakImpl" name="TameenakImplPort3" />
			<endpoint address="http://46.235.95.59:7788/Tameenak-WSUAT/TameenakImplPort" binding="basicHttpBinding" bindingConfiguration="TameenakImplPortBinding44" contract="ServiceReference.TameenakImpl" name="TameenakImplPort_GulfUnion" />
			<endpoint address="https://ic.najm.sa:8089/InsuranceInquiry.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInsuranceInquiry" contract="NajmInsuranceInquiryService.IInsuranceInquiry" name="WSHttpBinding_IInsuranceInquiry" />
		</client>
	</system.serviceModel>
	<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<nlog>
		<targets>
			<target name="file" type="File" fileName="Logs/${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${logger} - ${message}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="file" />
		</rules>
	</nlog>
</configuration>