<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBcareTameenk" />
                <binding name="BasicHttpsBinding_IBcareTameenk">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IBcareTameenk1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IBcareAutoLease" />
                <binding name="BasicHttpsBinding_IBcareAutoLease">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tameenitp.der3.com:589/BcareTameenk.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBcareTameenk"
                contract="ArabianShieldService.IBcareTameenk" name="BasicHttpBinding_IBcareTameenk" />
            <endpoint address="https://tameenitp.der3.com:588/BcareTameenk.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBcareTameenk"
                contract="ArabianShieldService.IBcareTameenk" name="BasicHttpsBinding_IBcareTameenk" />
            <endpoint address="http://rssonline1:50004/BcareAutoLease.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBcareAutoLease"
                contract="ArabianShieldAutoleasingService.IBcareAutoLease"
                name="BasicHttpBinding_IBcareAutoLease" />
            <endpoint address="https://tameenitp.der3.com:50005/BcareAutoLease.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBcareAutoLease"
                contract="ArabianShieldAutoleasingService.IBcareAutoLease"
                name="BasicHttpsBinding_IBcareAutoLease" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>