<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry Api Documentation</title>
    <link rel="icon" type="image/png" href="favicon_32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon_16.png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/Swagger/swagger-ui.css">
</head>
<body>
    @RenderBody()
</body>
</html>