@using Tameenk.Core.Domain.Enums.Payments;
@{
    Layout = null;
}

<article class="wrapper-bx md-mar-bot no-toggle" onclick="submitnow(@((int)PaymentMethodCode.RiyadBank))">
    <header class="f_width bx-right">
        <h3 class="bx-right xs-mar-bot" style="color: #535f69">@Html.Raw(Tameenk.LangText.payment_RiyadBank)</h3>
        <span>
        <img src="~/resources/imgs/Mada_Logo.svg" alt="Mada" title="Mada" style="-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));" class="bx-left" />
        <img src="~/resources/imgs/MasterCard-Logo.svg" alt="MasterCard" title="MasterCard" style="-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));" class="bx-left" />
        <img src="~/resources/imgs/card-visa.svg" alt="Visa" title="Visa" style="-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));" class="bx-left" />
        </span>
    </header>
</article>