@using Tameenk.Core.Domain.Enums;

<div class="popup" data-popup="confirmDelete">
    <div class="popup-inner">
        <div class="modal-header">
            @if (System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName.Equals(LanguageTwoLetterIsoCode.En.ToString(), StringComparison.OrdinalIgnoreCase))
            {
                <h2>Delete</h2>
            }
            else
            {
                <h2>حـذف</h2>
            }
        </div>
        @if (System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName.Equals(LanguageTwoLetterIsoCode.En.ToString(), StringComparison.OrdinalIgnoreCase))
        {
            <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="model-footer">
                <button class="notAgree btn sm dis-block txt-white txt-brand txt-xs bg-green circ-rdus l-shadow bx-left left-mar-10 right-mar-10" type="button">no</button>
                <button class="iAgree btn sm dis-block txt-white txt-brand txt-xs bg-red circ-rdus l-shadow bx-left left-mar-10 right-mar-10" type="button">yes</button>
            </div>
        }
        else
        {
            <div class="modal-body">
                <p>هل أنت متأكد من حذف هذا المنتج؟</p>
            </div>
            <div class="model-footer">
                <button class="notAgree btn sm dis-block txt-white txt-brand txt-xs bg-green circ-rdus l-shadow bx-left left-mar-10 right-mar-10" type="button">لا</button>
                <button class="iAgree btn sm dis-block txt-white txt-brand txt-xs bg-red circ-rdus l-shadow bx-left left-mar-10 right-mar-10" type="button">نعم</button>
            </div>
        }
        <a class="popup-close" data-popup-close="confirmDelete" href="#">x</a>
    </div>
</div>