<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <TameenkConfig>
    <!-- Email smtp configuratoin -->
    <SMTP Port="587" Host="smtp.gmail.com" EnableSsl="true" Timeout="10000" UseDefaultCredentials="false" SenderEmailAddress="noreply@bcare.com.sa"></SMTP>

    <!-- Payments - Payfort -->
    <PayFort MerchantIdentifier="XuPWWGSn" AccessCode="AYlFMpdYRMFXkEDKmvDi" SHARequestPhrase="SHAREQUESTPHRASE" SHAResponsePharse="SHARESPONSEPHRASE" ReturnUrl="/Checkout/PayfortResult" Currency="SAR"></PayFort>
    <!--<PayFort MerchantIdentifier="rIcKeGlw" AccessCode="UhayyFucUefrF2fdx7eJ" SHARequestPhrase="QSXZSE" SHAResponsePharse="WDCXDR" ReturnUrl="/Checkout/PayfortResult" Currency="SAR"></PayFort>-->


    <!-- Payment - Sadad -->
    <!--<Sadad Url="https://b2brb.riyadbank.com/soap?service=RB_SADAD_BILL_ONLINE_WS" BillerId="111" ExactFlag="1"
           KeyRelativePath="~/bin/Services/Payments/Sadad/Key/key_sadad_biller_online_uat.p12" 
           BillslAccountStatus="ACTIVE" 
           KeyPassword="b2b123" SoapEnvelopNameSpace="http://schemas.xmlsoap.org/soap/envelope/">
           </Sadad>-->

    <Sadad Url="https://b2brb.riyadbank.com/soap?service=RB_SADAD_BILL_ONLINE_WS"
           BillerId="111" ExactFlag="1"
    KeyRelativePath="~/bin/Services/Payments/Sadad/Key/key_sadad_biller_online_uat.p12"
    BillslAccountStatus="ACTIVE"
    KeyPassword="b2b123" SoapEnvelopNameSpace="http://schemas.xmlsoap.org/soap/envelope/">
    </Sadad>

    <!-- >>>> Start RiyadBank MIGS Configuration section <<<< -->

    <!-- Production -->
    <!--<RiyadBank Url="https://migs.mastercard.com.au/vpcpay" MerchantId="2000000061" AccessCode="88E62DEF" SecureHashSecret="403C584F4CF06869CF8241FFB711D95C"></RiyadBank>-->

    <!-- Development -->
    <RiyadBank Url="https://migs.mastercard.com.au/vpcpay" MerchantId="TEST2000000061" AccessCode="2AA30E95" SecureHashSecret="C317D74F7BC5FBD8222A700FC28DA2D9"></RiyadBank>

    <!-- >>>> End RiyadBank MIGS Configuration section <<<< -->
    <Quotation Url="http://localhost:7001/api/"></Quotation>
    <Policy GenerationUrl="http://localhost:7002/api/policy/generate/"></Policy>
    <Inquiry Url="http://localhost:7003/api/"></Inquiry>
    <Administration Url="http://localhost:7005/api/"></Administration>
    <GoogleCaptcha Url="https://www.google.com/recaptcha/api/siteverify" Secret="6LfiJHMUAAAAAGb5DCGVjCFiBj8sTFC3zyhuaAGk"></GoogleCaptcha>
    <Settings Path="..\Settings\Settings.txt" LogConfigPath="..\Settings\log4net.xml"></Settings>
    <Identity Url="http://localhost:7010/" ClientId="684C02DE-C782-4C7A-9999-70E687D73CD6" ClientSecret="8776677C-CBC9-4CB9-8AD8-A135D49B1C54-8564116E-BE41-4409-B46D-5B35C74F94B9-0FB081CC-2927-4A7C-A9B7-0CF76571107F"></Identity>
  </TameenkConfig>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>