<div class="col-xs-12 col-lg-6 col-md-6 md-mar bx-right">
  <h3 class="txt-black dis-block xs-mar xs-mar-bot" translate>inquiry.driver_has_violations</h3>
  <input type="checkbox" class="thereViolationCheck switchIco md-mar dis-block" id="thereViolation" [(ngModel)]="thereViolation"
    (change)="toggleViolations($event.target.checked)" />
  <label class="labelSwitch" for="thereViolation">
    <span class="stat true txt-brand" translate>common.yes</span>
    <span class="stat false txt-gray" translate>common.no</span>
  </label>
  <div *ngIf="violations?.length > 0">
    <div *ngFor="let v of violations; let i = index">
      <div class="col-xs-10 col-lg-10 bx-right">
        <div class="input-container" [ngClass]="violation.isOpen || violation.hasValue ? 'active' : ''">
          <label class="input-label" [for]="'v'+i" translate>inquiry.violation_type</label>
          <ng-select #violation class="input-element" [ngClass]="'inq-m_d-vio_'+i" [loadingText]="'common.loading' | translate" [notFoundText]="'common.no_items_found' | translate" [labelForId]="'v'+i" [items]="violationsCodes" (focus)="violation.open()"
            [clearable]="false" bindLabel="name" bindValue="id" [(ngModel)]="v.id">
            <ng-template ng-option-tmp let-item="item">
              <div title="{{item.name}}">{{item.name}}</div>
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div class="col-xs-2 col-lg-1 col-md-1 remove-icon">
        <a class="txt-black remove" (click)="removeViolation(i)">
          <i class="ic-plus rotate"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-12 col-xs-12 col-md-12 driver-fields md-mar xs-mar-bot bx-right">
      <a class="add-driver bx-shdw btn sm dis-block bx-right txt-brand txt-white-hvr login txt-brand bg-gr-main  circ-rdus l-shadow bx-right right"
        (click)="addViolation()" translate>inquiry.add_violation</a>
    </div>
  </div>
</div>
<div class="col-xs-12 col-lg-6 col-md-6 bx-right">
  <div class="input-container" [ngClass]="medicalCondition.isOpen || medicalCondition.hasValue ? 'active' : ''">
    <label class="input-label" for="medicalCondition" translate>inquiry.driver_medical_cond</label>
    <ng-select #medicalCondition class="input-element inq-m_d-medi" labelForId="medicalCondition" [items]="medicalCondations" (focus)="medicalCondition.open()"
      [clearable]="false" bindLabel="name" bindValue="id" [loadingText]="'common.loading' | translate" [notFoundText]="'common.no_items_found' | translate" [(ngModel)]="driver.medicalConditionId">
      <ng-template ng-option-tmp let-item="item">
        <div title="{{item.name}}">{{item.name}}</div>
      </ng-template>
    </ng-select>
  </div>
</div>