<!-- <div id="yakeen_erros">
        <a class="yakeen-erros-close" href="#">x</a>
        <section class="inactive md-ver-spc search-info bg-ofwhite content-view over-hidden section active show-search-info">
          <div class="container">
            <h1 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">
              error title
            </h1>
            <h3 class="txt-black txt-md">
              error description
              <br />
            </h3> 
            <br />
            <div>error</div>
            
          </div>
        </section>
        
      </div> -->
<div class="row">
  <!-- Right side -->
  <!-- <div class="col-xs-12 col-lg-6 col-md-6 bx-right"> -->
    <bcare-vehicle-info [(vehicle)]="inquiry.vehicle" (vehicleRegistered)="toggleRegistered($event)" [accordionIsActive]="vehicleStep" (accordionState)="vehicleStep = $event" (nextStep)="insuredStep = true"></bcare-vehicle-info>
    <!-- <bcare-detailed-info [(detailedInfo)]="inquiry.detailedInfo" [vehicleRegisterType]="vehicleRegistered"></bcare-detailed-info> -->
  </div>
  <!-- Left Side -->
  <!-- <div class="col-xs-12 col-lg-6 col-md-6"> -->
    
    <div class="row">
    <bcare-insured-info [(insured)]="inquiry.insured" [(accordionIsActive)]="insuredStep" (accordionState)="insuredStep = $event" (nextStep)="driverStep = true" (prevStep)="vehicleStep = true"></bcare-insured-info>
  </div>
  <div class="row">
    <bcare-main-driver [(driver)]="inquiry.drivers[0]" [(accordionIsActive)]="driverStep" (accordionState)="driverStep = $event" (prevStep)="insuredStep = true"></bcare-main-driver>
  </div>
    <div class="row">
      <!-- <h3 class="md-mar col-xs-12">معلومات السائق</h3> -->
      

      <!-- <div class="col-xs-6 md-mar">
            <h3 class="txt-black txt-xs dis-block over-hidden xs-mar xs-mar-bot">هل السائق من ذوي الإحتياجات الخاصة؟</h3>
            <input [(ngModel)]="inquiry.isCustomerSpecialNeed" type="checkbox" class="switchIco md-mar dis-block driverdisabilty" />
            <label class="labelSwitch" for="driverdisabilty">
              <span class="stat true txt-brand">نعم</span>
              <span class="stat false txt-gray">لا</span>
            </label>
          </div> -->
      <div class="col-xs-12 col-md-4 bx-right" style="clear: both;">
        <h3 class="txt-black txt-sm dis-block xs-mar-bot" translate>inquiry.add_another_driver</h3>
        <input type="checkbox" class="addnewdriverCheck switchIco md-mar dis-block addnewdriver" [(ngModel)]="thereDriver" (change)="toggleDriver($event.target.checked)"
        />
        <label class="labelSwitch" for="addnewdriver">
          <span class="stat true txt-brand" translate>common.yes</span>
          <span class="stat false txt-gray" translate>common.no</span>
        </label>
      </div>
    </div>
    <div class="col-xs-12 col-lg-12 col-md-12 bx-right md-mar driver-fields" *ngIf="additionalDrivers?.length > 0">
      <!-- <h3 class="no-pd-r col-xs-12" translate>inquiry.additional_Driver_info.driver_information</h3> -->
      <bcare-additonal-driver [driver]="driver" *ngFor="let driver of additionalDrivers; let i = index" [index]="i" (removeComponent)="removeDriver($event)"></bcare-additonal-driver>
      <div class="col-lg-12 col-xs-12 col-md-12 driver-fields md-mar">
        <a class="add-driver bx-shdw btn sm dis-block bx-right txt-brand txt-white-hvr login txt-brand  txt-xs bg-gr-main  circ-rdus l-shadow bx-right right"
          (click)="addDriver()" translate>inquiry.additional_Driver_info.add_driver</a>
      </div>
    </div>
    <div class="row md-mar">
      <div class="col-xs-12">
        <label for="checkValidation">
          <div class="md-mar sm-mar-bot checkbox-holder bx-right">
            <input type="checkbox" (change)="checkagreement($event.target.checked)" id="checkValidation" class="inp-checkbox" style="display: none">
            <label for="checkValidation" class="checkValidation">
              <span>
                <svg width="12px" height="10px" viewBox="0 0 12 10">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </svg>
              </span>
            </label>
          </div>
          <div class="col-xs-10 col-lg-11 col-md-11 sm-mar sm-mar-bot txt-justify bx-right">
            <h3 translate>inquiry.agreement</h3>
          </div>
        </label>
      </div>
      <bcare-captcha (success)="checkCaptcha($event)"></bcare-captcha>
    </div>
  <!-- </div> -->
<input type="submit" (click)="onSubmit()" id="btnSubmit" [attr.disabled]="isDisable ? '' : null" class="no-trans bx-left btn sm dis-block bx-left txt-white submit-continue txt-brand bg-brand-hvr txt-xs bg-gr-main  circ-rdus l-shadow sm-mar"
  value="{{ 'inquiry.show_quotes' | translate }}" style="margin-bottom: 15px;" />