<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TameenkSoap">
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tameeniservice.alrajhitakaful.com/ART.NCIS.TameeniK/TameenK.svc" binding="wsHttpBinding" bindingConfiguration="TameenkSoap" contract="AlRajhi.ITameenK" name="TameenkSoap" />
    </client>
  </system.serviceModel>
  
</configuration>