@using Tameenk.Resources.UserTicket;
@model Int32
<div class="attchContainer"><label>@UserTicketResources.AttachmentName:</label>  <input type="file" style="display:inline-block" name="userTicketFile+@Model" id="userTicketFile+@Model" /> </div>