@model TameenkDAL.Models.Notifications.NewPolicyUpdReqtNotificationModel
<article>
    <div class="wrapper-bx md-mar">
        <div class="row">
            <div class="col-xs-12 col-lg-1 col-lg-1">
                <i class="ic-icons-345 txt-green txt-lr"></i>
            </div>
            <header class="col-xs-12 col-lg-11 col-lg-11 over-hidden">
                <span class="txt-sm txt-green dis-block ">@Html.Raw(Tameenk.LangText.ApprovedPolicyUpdReqNotification)</span>
                <h2 class="txt-lr txt-black no-mar">#@Model.PolicyUpdateRequestGuid</h2>
                <h3 class="txt-sm txt-mgray dis-block xs-mar">@Html.Raw(Tameenk.LangText.Notification_request_vehicle) #@Model.PolicyId</h3>
            </header>
        </div>
    </div>
</article>