@model IEnumerable<Tameenk.Core.Domain.Entities.Vehicle>

<div class="md-ver-spc inactive content col-xs-12 col-md-9 col-lg-9 content-view " id="car">
    <div class="pd-inside">
        <h1 class="txt-lr txt-black no-mar md-mar-bot ">
            مركباتى
        </h1>
        <article>
            <div class="wrapper-bx md-mar-bot">
                <div class="row">
                    <div class="col-xs-12 col-lg-4 col-lg-3">
                        <div class="belt">
                            <span class="arabic-character">س و ع</span>
                            <span class="arabic-number">٤ ٤ ٥ ١</span>
                            <span class="english-number">1234</span>
                            <span class="english-character">AAA</span>
                        </div>
                    </div>
                    <header class="col-xs-12 col-lg-5 col-lg-5 over-hidden">
                        <span class="txt-sm  txt-mgray dis-block ">تويوتا</span>
                        <h2 class="txt-lr txt-black no-mar">Chev 2014 Taho</h2>
                        <h3 class="txt-sm  txt-mgray dis-block xs-mar">الرياض</h3>
                    </header>
                    <div class="col-xs-12 col-lg-4 col-lg-4 over-hidden">
                        <span class="txt-sm  txt-mgray dis-block ">مالك المركبة</span>
                        <h2 class="txt-lr txt-black no-mar">أحمد محمد أحمد</h2>
                        <h3 class="txt-sm  txt-mgray dis-block xs-mar">الرياض</h3>
                    </div>
                </div>
                <div class="small-desc over-hidden f_width sm-mar bx-right txt-mgray">
                    <a href="#" class="txt-right bx-right txt-brand">
                        <i class="ic-icons-793  general-ico"></i> بحث جديد
                    </a>
                    <a href="#" class="txt-right bx-left txt-black">
                        <i class="ic-icons-316 txt-black bx-right general-ico"></i>حذف المركبة
                    </a>
                </div>
            </div>
        </article>
        <div class="sm-ver-spc dis-block f_width over-hidden txt-center">
            <div class="three-quarters-loader bx-center"></div>
        </div>
    </div>
    <!-- pd inside -->
</div>