<footer class="main-footer l-shadow xl-mar bx-left">
  <div class="container">
    <div class="row">
      <div class="v-center">
        <div class="col-xs-12 col-md-5 bx-left">
          <img class="sama-logo bx-right" src="assets/imgs/logosama.png" alt="sama">
        </div>
        <div class="col-xs-12 col-lg-2 col-md-3 bx-left">
          <h3 class="social-heading txt-md txt-brand dis-block" translate>home.follow_us</h3>
          <ul class="social-icons">
            <li><a href="https://twitter.com/bcareksa" target="_blank" rel="noopener" class="tw"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/Bcareksa-115093535762889/" target="_blank" rel="noopener" class="fb"><i
                  class="fa fa-facebook-f"></i></a></li>
            <li><a href="http://instagram.com/bcareksa" target="_blank" rel="noopener" class="st"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/bcareksa" target="_blank" rel="noopener" class="in"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-lg-5 col-md-4 bx-left">
          <ul class="links-list inline-list txt-left f_width" style="margin: 10px 0 0;">
            <li><a routerLink="termsCondition" target="_blank" rel="noopener" translate>home.footer_terms</a></li>
            <li><a routerLink="privacyPolicy" target="_blank" rel="noopener" translate>home.footer_policy</a></li>
            <li><a routerLink="aboutUs" target="_blank" rel="noopener" translate>home.footer_about</a></li>
            <li><a routerLink="contactUs" target="_blank" rel="noopener" translate>home.Contact_us</a></li>
          </ul>
          <p class="txt-xs no-mar xs-mar bx-left txt-black text-left" [innerHTML]="'home.footer_description' | translate"></p>
        </div>
      </div>
    </div>
  </div>
</footer>
