
<div id="IbanCheckoutPopup" class="popup" data-popup="IbanCheckoutPopup">
    <div class="popup-inner">
        <div class="modal-body">
            <p>@Html.Raw(Tameenk.LangText.IBANWithAnotherDriver)</p>
        </div>
        <div class="model-footer">
            <input type="button" data-popup-close="IbanCheckoutPopup" class="bx-left btn sm dis-block no-trans bx-left txt-white continue txt-brand bg-brand-hvr txt-xs bg-gr-main  circ-rdus l-shadow" value="@LangText.yes">
        </div>
        <a class="popup-close" data-popup-close="IbanCheckoutPopup" href="#">x</a>
    </div>
</div>

<style>
    #IbanCheckoutPopup .modal-body {
        padding-bottom: 0;
    }
    #IbanCheckoutPopup .model-footer {
        padding: 10px;
    }
        #IbanCheckoutPopup .model-footer input {
            line-height: 0px;
            height: 35px;
        }
</style>