<div class="main" [ngClass]="{'hideForm': showYakeenMissingFields}">
    <form #mainForm="ngForm" class="editForm" (submit)="next(mainForm)" novalidate>
        <div class="row">
            <div class="col-xs-12 col-sm-6 bx-right">
                <h3 class="txt-black dis-block over-hidden sm-mar" translate>inquiry.vehicle.registration_type</h3>
                <div class="radio-container" style="margin-top: 10px">
                    <label class="radio-holder selectedCheckBox" [ngClass]="{'selectedCheckBox': inquiryModel.vehicle.VehicleIdTypeId==1, 'notSelected':inquiryModel.vehicle.VehicleIdTypeId==2 }" for="VehicleRegistered-1" translate>
                        inquiry.vehicle.sequence_num
                        <input type="radio" id="VehicleRegistered-1" name="vehicleRegistered" [attr.disabled]="isEditRequest ? true : null" [value]="1" required #VehicleIdTypeId="ngModel"
                               name="VehicleIdTypeId" [(ngModel)]="inquiryModel.vehicle.VehicleIdTypeId" (change)="toggleVehicleRegistered()"
                               checked>
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-holder notSelected" [ngClass]="{'selectedCheckBox': inquiryModel.vehicle.VehicleIdTypeId==2, 'notSelected':inquiryModel.vehicle.VehicleIdTypeId==1 }" for="vehicleRegistered-2" translate>
                        inquiry.vehicle.custom_card
                        <input type="radio" id="vehicleRegistered-2" name="vehicleRegistered" [attr.disabled]="isEditRequest ? true : null" [value]="2" required #VehicleIdTypeId="ngModel"
                               name="VehicleIdTypeId" [(ngModel)]="inquiryModel.vehicle.VehicleIdTypeId" (change)="toggleVehicleRegistered()">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div *ngIf="inquiryModel.vehicle.VehicleIdTypeId === 1">
                <div class="col-xs-12 col-sm-6 divOwner bx-right">
                    <h3 class="txt-black dis-block over-hidden sm-mar" translate>inquiry.detailed_info.purpose_of_insurance</h3>
                    <div class="radio-container" style="margin-top: 10px">
                        <label class="radio-holder selectedCheckBox" [ngClass]="{'selectedCheckBox': inquiryModel.vehicle.ownerTransfer==false, 'notSelected':inquiryModel.vehicle.ownerTransfer==true }" translate>
                            inquiry.detailed_info.new_insurance
                            <input type="radio" id="purpose1" name="purpose-of-insurance" [attr.disabled]="isEditRequest ? true : null" [value]="false" #ownerTransfer="ngModel"
                                   name="ownerTransfer" required [(ngModel)]="inquiryModel.vehicle.ownerTransfer" (change)="togglePurposeOfInsurance(false)"
                                   checked>
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-holder notSelected" [ngClass]="{'selectedCheckBox': inquiryModel.vehicle.ownerTransfer==true, 'notSelected':inquiryModel.vehicle.ownerTransfer==false }" translate>
                            inquiry.detailed_info.transfer_insurance
                            <input type="radio" id="purpose2" name="purpose-of-insurance" [attr.disabled]="isEditRequest ? true : null" [value]="true" #ownerTransfer="ngModel"
                                   name="ownerTransfer" required [(ngModel)]="inquiryModel.vehicle.ownerTransfer" (change)="togglePurposeOfInsurance(true)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 bx-right" *ngIf="inquiryModel.vehicle.VehicleIdTypeId === 1 && inquiryModel.vehicle.ownerTransfer">
                <div class="input-container" [ngClass]="{'red-border': oldOwnerNin.invalid && mainForm.submitted}">
                    <input type="tel" id="oldOwnerNin" name="oldOwnerNin" class="input-element" appFloatedLabel appNumberOnly (keypress)="restrictNumeric($event)"
                           required bcareCheckIdIqamaa [(ngModel)]="inquiryModel.vehicle.ownerNationalId" [readonly]="isEditRequest" #oldOwnerNin="ngModel" />
                    <label class="input-label" for="oldOwnerNin" translate>inquiry.detailed_info.id_residence_number</label>
                    <span *ngIf="oldOwnerNin.invalid && mainForm.submitted">
                        <span class="field-error" *ngIf="oldOwnerNin.errors['required']">
                            {{
'inquiry.insured_info.id_number_error_required'
              | translate
                            }}
                        </span>
                        <span class="field-error" *ngIf="oldOwnerNin.errors['invalid']">
                            {{
'inquiry.insured_info.id_number_error_invalid'
              | translate
                            }}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bx-right">
                <div class="input-container" [ngClass]="{'red-border': nationalId.invalid && mainForm.submitted}">
                    <input type="tel" id="nationalId" name="nationalId" class="input-element" appFloatedLabel appNumberOnly (keypress)="restrictNumeric($event)"
                           required bcareCheckId [(ngModel)]="inquiryModel.insured.nationalId" [readonly]="isEditRequest" #nationalId="ngModel" />
                    <label class="input-label" for="nationalId" translate>inquiry.id_residence_number</label>
                    <span *ngIf="nationalId.invalid && mainForm.submitted">
                        <span class="field-error" *ngIf="nationalId.errors['required']">
                            {{
'inquiry.insured_info.id_number_error_required'
              | translate
                            }}
                        </span>
                        <span class="field-error" *ngIf="nationalId.errors['invalid']">
                            {{
'inquiry.insured_info.id_number_error_invalid'
              | translate
                            }}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bx-right">
                <div class="input-container" [ngClass]="{'red-border': vehicleId.invalid && mainForm.submitted}">
                    <input class="input-element" type="tel" appNumberOnly appFloatedLabel (keypress)="restrictNumeric($event)" id="vehicleId" [readonly]="isEditRequest" #vehicleId="ngModel"
                           name="vehicleId" [(ngModel)]="inquiryModel.vehicle.vehicleId" required />
                    <label class="input-label" for="vehicleId" translate>
                        {{
inquiryModel.vehicle.VehicleIdTypeId === 1
            ?'inquiry.vehicle.sequence_number':'inquiry.vehicle.custom_sequence_number'
                        }}
                    </label>
                    <span *ngIf="vehicleId.invalid && mainForm.submitted">
                        <span class="field-error" *ngIf="vehicleId.errors['required']" translate>
                            {{
inquiryModel.vehicle.VehicleIdTypeId
              === 1 ?
              'inquiry.vehicle.serial_number_error_required' :
              'inquiry.vehicle.custom_sequence_number_error_required'
                            }}
                        </span>
                        <span class="field-error" *ngIf="vehicleId.errors['pattern']" translate>
                            {{
inquiryModel.vehicle.VehicleIdTypeId
              === 1 ?
              'inquiry.vehicle.serial_number_error_invalid' :
              'inquiry.vehicle.custom_sequence_number_error_invalid'
                            }}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bx-right">
                <div class="input-container">
                    <input class="input-element effectiveDate" [attr.disabled]="inquiryModel.vehicle.ownerTransfer ? true : null" readonly appFloatedLabel appNumberOnly type="text" id="effectiveDate" (change)="onChangeEffectiveDate($event.target.value)"
                           required /><i class="fa fa-calendar homeCalendrInp" aria-hidden="true" style="position: absolute;color: #186a9e;top: 12px;font-size: 18px;"></i>
                    <label class="input-label" for="effectiveDate" translate style="color: #156494 !important; font-weight: 500;">inquiry.vehicle.policy_effective_date</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bx-right" style="margin-top: 2em;">
                <div class="row" style="padding: 0px 15px 0px 13px;">
                    <bcare-captcha [(captcha)]="captchaModel" (success)="checkCaptcha($event)"></bcare-captcha>
                </div>
            </div>
        </div>

        <div class="row myRowCustomNewDesign">
            <div class="col-xs-9 bx-right md-mar" style="margin-top: 0px;">
                <label for="checkValidation">
                    <div class="checkbox-holder bx-right">
                        <input type="checkbox" (change)="checkagreement()" id="checkValidation" #aggrement="ngModel" name="aggrement"
                               [(ngModel)]="aggrementHolder" required class="inp-checkbox" style="display: none">
                        <label for="checkValidation" class="checkValidation">
                            <span>
                                <svg width="12px" height="10px" viewBox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                        </label>
                    </div>
                    <div class="txt-justify pad-sm-r">
                        <h3 translate class="eqrarStyle">
                            inquiry.agreement
                        </h3>
                    </div>
                </label>
            </div>
            <button type="submit" [disabled]= "isDisable || loading"
                    class="no-trans bx-left btn sm dis-block bx-left txt-white submit-continue txt-brand bg-brand-hvr bg-gr-main  circ-rdus l-shadow md-mar buttonShowQuotsinResponsiv">
                {{
        'inquiry.show_quotes' | translate
                }} <i class="fas fa-spinner fa-spin" *ngIf="loading"></i>
            </button>
        </div>
        <div>


        </div>
    </form>
</div>

<div *ngIf="showYakeenMissingFields" class="row" id="missing-fields-section">
    <bcare-missing-fields [missingFields]="yakeenMissingFields" [quotationRequestExternalId]="quotationRequestExternalId"></bcare-missing-fields>
</div>