.compare-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
  overflow: auto;
}

.compare-container ul {
  display: none;
  top: 0px;
  z-index: 10;
  height: 200px;
  padding-right: 0;
  overflow-x: auto;
}

.compare-container ul li {
  list-style: none;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.compare-container .img-holder img {
  height: 70px;
  width: 95px;
  margin-bottom: 10px
}

.compare-container table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 100%;
}

.compare-container th {
  background: #F5F5F5;
  display: none;
}

.compare-container td,
th {
  height: 53px
}

.compare-container td,
th {
  text-align: center;
  border: 1px solid #DDD;
  padding: 10px;
  empty-cells: show;
}

.compare-container td+td,
th+th {
  text-align: center;
  display: none;
}

.compare-container td.default {
  display: table-cell;
}

.compare-container .bg-purple {
  border-top: 3px solid #A32362;
}

.compare-container .bg-blue {
  border-bottom: 3px solid #0097CF;
}

.compare-container .sep {
  background: #F5F5F5;
  font-weight: bold;
}

.compare-container .txt-l {
  font-size: 28px;
  font-weight: bold;
}

.compare-container .txt-top {
  position: relative;
  top: -9px;
  left: -2px;
}

.compare-container .tick {
  font-size: 18px;
  color: #2CA01C;
}

.compare-container .hide {
  border: 0;
  background: none;
}

.compare-container td,
th {
  display: table-cell !important;
  width: 330px;

}

.compare-container td+td,
th+th {
  width: auto;
  position: relative;
}

@media (max-width: 640px) {
  .compare-container ul {
    display: flex;
  }
}



.checkbox-holder {
  text-align: center
}

.mainCheckBox {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.mainCheckBox span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.mainCheckBox span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}

.mainCheckBox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.mainCheckBox span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #186A9E;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.mainCheckBox span:last-child {
  padding-left: 3px;
}

.mainCheckBox:hover span:first-child {
  border-color: #186A9E;
}

.inp-checkbox:checked+.mainCheckBox span:first-child {
  background: #186A9E;
  border-color: #186A9E;
  animation: wave 0.4s ease;
}

.inp-checkbox:checked+.mainCheckBox span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-checkbox:checked+.mainCheckBox span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

label {
  width: 100%;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}